<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9_30ODGbag2khvDFIr0qHkfSfKhHSF5E</string>
	<key>GCM_SENDER_ID</key>
	<string>306371913230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abema.MatchingWithSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>matchingwithswiftui-a58f4</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingwithswiftui-a58f4.firebasestorage.app</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:306371913230:ios:b3d3007ce2541d7f593e5f</string>
</dict>
</plist>
